# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.egg-info/
*.egg

# Environments
.venv/
venv/
env/
ENV/
*.env
*.toml
secrets.toml

# Streamlit
.streamlit/
logs/

# Data & cache
data/*.csv
data/*.parquet
data/*.db
*.duckdb
*.sqlite
*.log

# Jupyter & notebooks
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/
*.swp
